body {
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}

h1 {
    text-align: center;
    font-family: 'Lora', serif;
}

h2,
p,
button {
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
}

#correct-answer {
    color: green;
}

#incorrect-answer {
    color: red;
}

#question-area {
    border: 1px solid black;
    width: 70vw;
    height: 20vh;
    margin: auto;
    background-color: white;
}

#question {
    text-align: center;
    font-size: 150%;
}

#answer-area {
    border: 1px solid black;
    width: 70vw;
    height: 40vh;
    margin: auto;

}

#answer1 {
    float: left;
    width: 50%;
    height: 50%;
    font-size: 150%;
}

#answer2 {
    float: right;
    width: 50%;
    height: 50%;
    font-size: 150%;
}

#answer3 {
    float: left;
    width: 50%;
    height: 50%;
    font-size: 150%;
}

#answer4 {
    float: right;
    width: 50%;
    height: 50%;
    font-size: 150%;
}

/* Introduced so that the text will not spill over on small screens */
@media screen and (max-width: 650px) {

    #question,
    #answer1,
    #answer2,
    #answer3,
    #answer4 {
        font-size: 100%;
    }
}